#result_page{
    display: none;
    background-color: white;
    width: 70%;
    text-align: center;
    border-radius: 25px;
}

p{
    font-size: 29px;
}

.club{
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
}

.match{
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
}

.resultDescription{
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
}

.resultName{
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
}